body {
  background-color: #000000;
  display: flex;
  justify-content: center;

}

.page-wrapper {
  display: flex;
  
}

h1 {
  color: white;
}

.marquee-text {
  color: red;
}

/* .marquee {
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  background-color: white;
}

.marquee h1{
  font-size: 5em;
  color: black;
  white-space: nowrap;
  text-transform: uppercase
} */