@font-face {
  font-family: "neopixel";
  src: url("src/fonts/NEOPIXEL-Regular.otf");
}
:root {
  --main-accent-color: #ff852d;
  --background-color: #000;
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "neopixel";
  font-weight: 100;
  cursor: url("src/assets/cursor.png"), auto;
  position: relative;
  overflow-x: hidden;
}

h1 {
  color: white;
  font-size: 8rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

p {
  font-size: 0.8rem;
  opacity: 0.4;
}

a {
  text-decoration: none;
}

.page-wrapper {
  display: flex;
  height: 100svh;
  width: 100vw;
  border: 1px solid var(--main-accent-color);

  .main-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;

    .marquee {
      height: 5%;
      display: flex;
      color: white;
      border-bottom: 1px solid var(--main-accent-color);
      justify-content: space-between;
    }

    .section-hero {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-self: stretch;
      justify-content: space-between;

      position: relative;

      .coordinates-wrapper {
        display: flex;
        justify-content: center;
      }

      .header {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 8rem;
        letter-spacing: 0.4rem;
        position: absolute;
        text-align: center;
        bottom: 50%;
        left: 0;
        right: 0;
      }

      .hero-bottom {
        position: absolute;
        bottom: 10vh;
        left: 2vw;
        display: flex;
        width: 100%;
        padding: 1rem 0rem;

        .about-wrapper {
          display: flex;
          width: 20rem;
          flex-direction: column;
          gap: 0.5rem;
        }

        .hoverstate-cta {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
        }
      }
    }

    footer {
      position: absolute;
      bottom: 0;
      overflow: hidden;
      height: 5%;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid var(--main-accent-color);
      width: 80%;
      /* glass effect */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.2px);
      -webkit-backdrop-filter: blur(5.2px);

      .sm-link-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .sm-link {
          color: white;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          font-size: 0.8rem;
        }
      }

      .skills-wrapper {
        display: flex;
        width: 100%;
        gap: 0.5rem;
        padding: 0.5rem;

        .skills-icon {
          width: 2rem;
          opacity: 0.4;
        }
        .skills-icon:hover {
          opacity: 1;
        }
      }

      .copyright {
        display: flex;
        padding: 0rem 1rem;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1rem;
      }
    }

    .moon-wrapper {
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .moon {
      z-index: 1;
      width: 100px;
      height: 100%;
      position: absolute;
    }
  }
  .work-section {
    background-color: #000;
    display: flex;
    width: 20%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid var(--main-accent-color);

    .work-heading-container {
      width: 100%;
      height: 5%;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid var(--main-accent-color);
    }
    .work-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid var(--main-accent-color);
    }
  }
}

/* Link buttons */
.link-button {
  border: none;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 0.8rem;
  position: relative;
  width: 8rem;
  height: 4rem;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.sm-link-btn {
  border-right: 1px solid var(--main-accent-color);
}
.mask {
  position: absolute;
  z-index: -1;
  background-color: white;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
}

.link-button:hover {
  color: black;
  .mask {
    scale: 1;
    transform: scaleY(1);
  }
}

.logo-container {
  background-color: #ff852d;
  width: 4rem;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
}

.last-work-item {
  border-bottom: none;
}
.number-box {
  background-color: var(--main-accent-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  width: 2rem;
  height: 2rem;
  left: 0;
  top: 0;
}
